@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/ibm-plex-sans.min.css");

body {
  background: url('https://media.istockphoto.com/id/637537788/photo/burning-candles-on-a-black-background.jpg?s=612x612&w=0&k=20&c=Rw8fXnBG-YqRxzJ-btBIZ3g27Zjaf-QOj0ojYR6hTdc=') no-repeat center fixed;
  background-color: #010101;
  background-size: contain;
  padding-top: 70px;
  min-height: 100%;
}

main {
  padding-top: 10vh;
  position: relative;
}

@media (min-width: 0) {
  h1 {
    font-size: 30px !important;
    font-weight: 143 !important;
  }

  h2 {
    font-size: 12px !important;
    font-weight: 71 !important;
  }
}

@media (min-width: 576px) {
  h1 {
    font-size: 41px !important;
    font-weight: 165 !important;
  }

  h2 {
    font-size: 21px !important;
    font-weight: 123 !important;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 55px !important;
    font-weight: 220 !important;
  }

  h2 {
    font-size: 28px !important;
    font-weight: 164 !important;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 71px !important;
    font-weight: 284 !important;
  }

  h2 {
    font-size: 36px !important;
    font-weight: 212 !important;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 86px !important;
    font-weight: 343 !important;
  }

  h2 {
    font-size: 43px !important;
    font-weight: 257 !important;
  }
}

@media (min-width: 1400px) {
  h1 {
    font-size: 100px !important;
    font-weight: 400 !important;
  }

  h2 {
    font-size: 50px !important;
    font-weight: 300 !important;
  }
}

h1 {
  letter-spacing: .30em !important;
  text-transform: uppercase !important;
}

h2 {
  letter-spacing: .10em !important;
  text-transform: uppercase !important;
}

h3 {
  font-size: 30px;
  font-weight: 400 !important;
}


h4 {
  font-size: 14px !important;
  font-weight: 400 !important;
  letter-spacing: .12em !important;
  text-transform: uppercase !important;
}

h5 {
  font-size: .75rem !important;
  letter-spacing: .18em !important;
}

p {
  font-size: 1.25rem;
  font-weight: 200;
  letter-spacing: .0015em;
}

h1,
h2,
h3,
h5,
p {
  font-family: 'IBM Plex Sans', sans-serif;
}

h4,
a {
  font-family: 'NewtalSans-Regular', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
a,
p,
label {
  color: #ffffff !important;
}

.navbar {
  padding: 0 !important;
  background-color: #4a4a4a !important;
}


/* Homepage */

.calculator-form {
  position: relative;
  align-items: center !important;
  padding: 2rem;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.form-center {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.form-center form {
  position: relative;
}

.decedent-input,
.account-input {
  text-align: center;
  border: none;
  background-color: rgb(255, 255, 255, .2);
  color: rgb(255, 255, 255, .6);
  border-radius: 15px;
  height: 30px;
  margin-bottom: 1rem;
}

.decedent-input,
.calculator-form label {
  display: block;
  align-self: center !important;
}

.btn-outlined--black {
  display: block;
  min-width: 10rem;
  padding: 0.75rem 1.5rem;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff !important;
  border-radius: 50px !important;
  background-color: rgba(255, 255, 255, 0) !important;
  transition: background-color 250ms !important;
  color: #ffffff !important;
  font-size: 1rem !important;
  line-height: 1.3rem !important;
  font-weight: 500 !important;
  letter-spacing: .005em !important;
  text-decoration: none !important;
}

.btn-small {
  display: inline;
  padding: 0.5rem 1rem;
  min-width: 8rem;
}

::placeholder {
  color: #FFFFFF;
}

footer.navbar {
  height: 70px !important;
}

.footer-brand>h4,
.footer-brand>p {
  display: inline;
  margin: auto;
}

.footer-brand>p {
  font-size: medium;
}