{% extends "base.html" %}

{% block title %}Create Account{% endblock %}

{% block body %}

<div
	class="d-flex flex-column form-center calculator-wrapper justify-content-center align-items-center"
	style="min-height: 100vh"
>
	<div class="form-center">
		<form
			class="calculator-form justify-content-center"
			action="{% url 'create_account' %}"
			method="post"
			role="form"
		>
			{% csrf_token %}
			<fieldset>
				<legend><h2>Create Account</h2></legend><br>
				<label for="email" hidden>Email</label><br>
				<input
					type="email"
					class="account-input"
					name="email"
					id="email"
					placeholder="Email"
					required
				><br>
				<label for="password" hidden>Password</label><br>
				<input
					type="password"
					class="account-input"
					name="password"
					id="password"
					placeholder="Password"
				>
				<label for="password" hidden>Retype Password</label><br>
				<input
					type="password"
					class="account-input"
					name="retype-password"
					id="retype-password"
					placeholder="Retype Password"
				>

			</fieldset>
			<br>
			<input
				type="submit"
				class="btn-outlined--black"
				value="Create Account"
			>
		</form>
	</div>
</div>
{% endblock %}

{% block after_body %}
<script src="/static/js/create_account.js"></script>
<script
src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"
>
</script>
{% endblock %}