{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block navbar %}
  <a class="nav-item nav-link" href="{% url 'index' %}">Calculate</a>
  <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
{% endblock %}

{% block body %}

<div
  class="d-flex flex-column calculator-wrapper align-items-center"
  style="min-height: 100vh"
><br>
  <h2>Your Dashboard</h2>
  {% for key, value in decedents.items %}
  <p>
    {{ key }}'s next yahrzeit is {{ value }}
  </p>
  {% endfor %}
</div>


{% endblock %}