{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block navbar %}
{% if not logged_in %}
<a class="nav-item nav-link" href="{% url 'create_account_form' %}">
    Create an Account
</a>
<a class="nav-item nav-link" href="{% url 'login_form' %}">Login</a>
{% else %}
<a class="nav-item nav-link" href="{% url 'dashboard' %}">Dashboard</a>
<a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
{% endif %}
{% endblock %}

{% block body %}
	<div
        class="row h-100 idx-main-row justify-content-center align-items-center"
    >
        <div class="col form-center">
            <form
                class="calculator-form"
                action="{% url 'calculate' %}"
                method="post"
                role="form"
            >
                {% csrf_token %}
                <fieldset>
                    <legend><h1 class="text-center">Yahrzeit</h1></legend>
                    <div class="row">
                        <div class="col calc-form-col">
                            <label for="decedent-name">
                                <h4>Decedent's Name</h4>
                            </label>
                            <input
                                type="text"
                                class="decedent-input"
                                name="decedent-name"
                                id="decedent-name"
                                required
                            >
                            <label for="location">
                                <h4>Location of Death</h4>
                            </label>
                            <input
                                type="text"
                                id="location"
                                class="decedent-input"
                            >
                            <label for="number">
                                <h4>Number of Years to Calculate</h4>
                            </label>
                            <input
                                type="number"
                                name="number"
                                id="number"
                                class="decedent-input"
                                min="1"
                                max="20"
                                value="1"
                            >
                        </div>
                        <div class="col calc-form-col">
                            <label for="decedent-date">
                                <h4>Date of Death</h4>
                            </label>
                            <input
                                type="date"
                                name="decedent-date"
                                class="decedent-input"
                                id="decedent-date"
                                max="{{ today }}"
                                required
                            >
                            <div id="TOD-radios">
                                <input
                                    type="radio"
                                    id="before-sunset"
                                    name="TOD"
                                    value="before-sunset"
                                    required
                                >
                                <label
                                    for="before-sunset"
                                    id="before-sunset-label"
                                >
                                    <h4>Before Sunset</h4>
                                </label>
                                <input
                                    type="radio"
                                    id="after-sunset"
                                    name="TOD"
                                    value="after-sunset"
                                >
                                <label
                                    for="after-sunset"
                                    id="after-sunset-label"
                                >
                                    <h4>After Sunset</h4>
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <input
                    type="submit"
                    class="btn-outlined--black"
                    value="Submit"
                >
            </form>
		</div>
	</div>
{% endblock %}

{% block after_body %}
<script src="/static/js/index.js"></script>
<script
	src="https://maps.googleapis.com/maps/api/js?key={{ js_key }}&libraries=places&callback=useAutocomplete"
></script>
{% endblock %}