{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block navbar %}
	<a class="nav-item nav-link" href="{% url 'index' %}">
		Calculate
	</a>
	<a class="nav-item nav-link" href="{% url 'create_account_form' %}">
		Create an Account
	</a>
{% endblock %}

{% block body %}
<div
	class="row h-100 idx-main-row justify-content-center align-items-center"
>
	<div class="col form-center">
		<form
			class="calculator-form"
			action="{% url 'login' %}"
			method="post"
			role="form"
		>
			{% csrf_token %}
			<fieldset>
				<legend><h2>Login</h2></legend>
				<label for="email" hidden>Email</label>
				<input
					type="email"
					class="account-input"
					name="email"
					id="email"
					placeholder="Email"
					required
				>
				<label for="password" hidden>Password</label>
				<input
					type="password"
					class="account-input"
					name="password"
					id="password"
					placeholder="Password"
				>
			</fieldset>
			<input type="submit" class="btn-outlined--black"value="Login">
		</form>
	</div>
</div>
{% endblock %}