{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block navbar %}
<div class="navbar-nav">
	<a
		class="navigation-link-2022 big w-nav-link"
		href="{% url 'index' %}"
	>
		Calculate
	</a>
</div>
<div class="navbar-nav">
	<a
		class="navigation-link-2022 big w-nav-link"
		href="{% url 'create_account_form' %}"
	>
		Create an Account
	</a>
</div>
{% endblock %}

{% block body %}

<div
	class="d-flex flex-column form-center calculator-wrapper justify-content-center align-items-center"
>
	<div class="form-center">
		<form
			class="calculator-form justify-content-center"
			action="{% url 'login' %}"
			method="post"
			role="form"
		>
			{% csrf_token %}
			<fieldset>
				<legend><h2>Login</h2></legend>
				<label for="email" hidden>Email</label>
				<input
					type="email"
					class="account-input"
					name="email"
					id="email"
					placeholder="Email"
					required
				>
				<label for="password" hidden>Password</label>
				<input
					type="password"
					class="account-input"
					name="password"
					id="password"
					placeholder="Password"
				>
			</fieldset>
			<input type="submit" class="btn-outlined--black"value="Login">
		</form>
	</div>
</div>
{% endblock %}